<?xml version="1.0" encoding="utf-8" ?>
<configuration>
      <connectionStrings>
        <add name="Database_Connection"
            connectionString="Data Source=.;Initial Catalog=TESTBLOG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>